./libraries/Pygments-2.9.0-py3-none-any.whl
./libraries/asgiref-3.5.2-py3-none-any.whl
./libraries/certifi-2022.6.15-py3-none-any.whl
./libraries/click-8.1.3-py3-none-any.whl
./libraries/h11-0.13.0-py3-none-any.whl
./libraries/h2o_wave-0.22.0-py3-none-manylinux1_x86_64.whl
./libraries/httpcore-0.12.3-py3-none-any.whl
./libraries/httpx-0.16.1-py3-none-any.whl
./libraries/idna-3.3-py3-none-any.whl
./libraries/loguru-0.5.3-py3-none-any.whl
./libraries/rfc3986-1.5.0-py2.py3-none-any.whl
./libraries/sniffio-1.2.0-py3-none-any.whl
./libraries/starlette-0.13.8-py3-none-any.whl
./libraries/toml-0.10.2-py2.py3-none-any.whl
./libraries/uvicorn-0.17.6-py3-none-any.whl
